<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auroracharities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_a4g_logo__svg_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuroraCharities">
        <activity
            android:name=".NavigationBarActivity"
            android:exported="false" />
        <activity
            android:name=".EditAboutusPageActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityEditAboutusPageActivity"
            android:exported="false" />
        <activity
            android:name=".EditPastRequestsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHc5HdbDME3BVbSvHn8Zl5yJd_D8Kimqs" />

        <activity
            android:name=".IndividualCharityPageActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".PublicMainActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".AddRequestActivity" />
        <activity android:name=".CharityHomeActivity" />
    </application>

</manifest>